@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* variable */
:root {
  --primary-orange: #ff6800;
  --primary-white: #ffffff;
  --primary-black: #4d4d4d;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  background-color: var(--primary-orange);
  color: var(--primary-white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  transition: top 0.3s;
}

.header.transparent {
  background-color: rgba(255, 104, 0, 0.7);
  backdrop-filter: blur(5px);
}

header img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin: 0 15px 0 15px;
}

nav a {
  color: var(--primary-white);
  text-decoration: none;
}

/* Hamburger menu styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-white);
  margin: 5px 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  #nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    height: auto;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--primary-orange);
    z-index: 999;
  }

  #nav-menu li {
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
  }

  #nav-menu.active {
    display: flex;
  }
}

/* Hero */
.hero-container {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  background-image: url("../images/hero.jpg");
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.parallax img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}

/* aside */
aside {
  display: flex;
  padding: 80px 200px;
  justify-content: space-between;
  align-items: center;
}

aside .aside-option {
  display: flex;
}

.aside-description p {
  font-size: 16px;
  font-weight: bold;
}

select {
  padding: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
}

#form-show-per-page {
  padding-right: 20px;
}

form button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

form button:hover {
  background-color: #45a049;
}

label {
  font-weight: bold;
}

/* article */
article {
  padding: 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

/* card */
.card-container {
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Jumlah maksimal baris yang diizinkan */
  max-height: 3 * 1.2em; /* Tinggi maksimal (3 baris * tinggi satu baris) */
}

.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  margin: 25px 20px;
}

.card-content h5 {
  font-size: 1.5rem;
  margin-top: 5px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 80px 20px;
}

.page {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.page:hover {
  background-color: #ddd;
}

.page.active {
  background-color: var(--primary-orange);
  color: #fff;
}

/* media query */
/* Add this at the end of your existing CSS file */

/* Media Queries */
@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 100px;
  }

  aside {
    padding: 80px 100px;
  }

  article {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }

  aside {
    flex-direction: column;
    align-items: flex-center;
    padding: 40px;
  }

  .aside-option {
    width: 100%;
  }

  aside p {
    margin: 20px 0;
  }

  #form-show-per-page,
  #form-short-by {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  select {
    width: 150px;
    margin: 0 5px;
  }

  article {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  .aside-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  #form-show-per-page,
  #form-short-by {
    width: 80%;
    justify-content: space-between;
  }

  article {
    justify-content: center;
  }

  .page {
    padding: 4px 8px;
    margin: 0 4px;
  }
}
